html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --accent-color: #4d5ae5;
  --cloud: #f4f4fd;
  --dark-bcg: #2e2f42;
  --btn-primary-color: #f5f4fa;
  /* --bcg-color: #e5e5e5; */
  --white: #ffffff;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--white);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

img {
  display: flex;
  max-width: 100%;
}

.btn {
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  padding: 0;
  border: 0;
  background-color: transparent;
  line-height: 0; /*забрати нижній відступ для інлайн елементів */
}

/* ------- MOBILE HEADER ----------- */

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo.light {
  color: var(--cloud);
  margin: 0 auto;
}

.logo-web {
  color: var(--accent-color);
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1000;
  padding: 40px;
  background-color: var(--white);
}

.is-open {
  display: block;
}

.mobile-navs {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 16px;
}

.flex-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
}

.menu-social {
  flex-basis: calc((100% - 3 * 56px) / 4);
}

.nav {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark-bcg);
  transition: color 250ms var(--cubic);
}

.nav:hover,
.nav:focus {
  color: #404bbf;
}

.nav.active {
  color: var(--accent-color);
}

.mobile-menu-wrap {
  margin-top: 16px;
}

.mobile-contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact {
  color: var(--secondary-text-color);
  transition: color 250ms var(--cubic);
}

.contact:is(:hover, :focus) {
  color: var(--accent-color);
}

.phone {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
}

.email {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 48px;
}

.socials {
  display: flex;
  margin-top: 48px;
  column-gap: 56px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.social-button {
  display: block;
  background-color: var(--accent-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: background-color 250ms var(--cubic);
}

.social-button:hover,
.social-button:focus {
  background-color: #404bbf;
}

.social-icon {
  height: 100%;
  width: 100%;
  padding: 8px;
}

@media screen and (max-width: 408px) {
  .socials {
    column-gap: 24px;
    margin-top: 38px;
  }

  .mobile-contacts {
    gap: 20px;
  }

  .menu-social {
    flex-basis: calc((100% - 56px) / 2);
  }
}

/* --------------------- MOBILE HERO---------------------- */

.hero-section {
  height: 432px;
  max-width: 480px;

  padding-top: 112px;
  padding-bottom: 112px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mobile.jpg);

  background-color: var(--dark-bcg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mobile@2x.jpg);
  }
}

.hero-title {
  color: var(--white);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;

  max-width: 318px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--accent-color);
  color: var(--white);

  width: fit-content;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 32px;
  padding-left: 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms var(--cubic);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: calc(100% - 36px);
  max-width: 392px;
  padding: 24px;
  overflow: auto;
  height: calc(100% - 18px);
  max-height: 630px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--cubic), opacity 250ms var(--cubic);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  width: 24px;
  height: 24px;

  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition: background-color 250ms var(--cubic), fill 250ms var(--cubic);
}

.close-btn:is(:hover, :focus) {
  background-color: var(--accent-color);
  fill: var(--white);
}

.close-icon {
  width: 8px;
  height: 8px;
}

.modal-title {
  margin-top: 24px;
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
  text-align: center;
}

.form {
  text-align: left;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.form-input:focus-visible,
.comment:focus-visible {
  outline: none;
}

.form-field:focus-within .form-input,
.comment:focus-within,
.form-field:focus-within .form-icon {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.form-field {
  position: relative;
}

.form-label {
  margin-bottom: 4px;
  display: block;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 18px;
  height: 24px;
  transition: fill 250ms var(--cubic);
}

.comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic);
}

.comment::placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.form-input {
  width: 100%;
  height: 36px;
  padding-left: 38px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic);
}

.policy-text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}

.policy-link {
  color: var(--accent-color);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 16px;
  min-height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color 300ms linear;
  fill: transparent;
}

.checkbox:checked + .checkbox-icon {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.checkbox:focus + .checkbox-icon {
  border: 2px solid #404bbf;
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}

.btn.send {
  width: fit-content;
  height: 56px;
  padding: 16px 65px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  margin: 24px auto 0;
  transition: background-color 250ms var(--cubic);
}

.btn.send:hover,
.btn.send:focus {
  background-color: #404bbf;
}

/* -------------- MOBILE FEATURES ---------------- */

.thumb {
  display: none;
}

.features {
  padding: 96px 16px;
}

.feature-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--dark-bcg);
  text-align: center;
  margin-bottom: 8px;
}

.feature-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-text-color);
}

/* -------- MOBILE ACTIVITY ---------- */

.activity {
  display: none;
}

/* ---------- MOBILE TEAM ----------- */

.worker {
  background: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  max-width: 264px;
  margin: 0 auto;
}

.workers {
  background-color: var(--cloud);
  padding: 96px 0;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;

  margin-bottom: 72px;
}

.worker-details {
  padding: 32px 16px;
}

.icon-link {
  width: 100%;
  height: 100%;
  display: block;
}

.team-socials {
  display: flex;
  margin-top: 8px;
  column-gap: 24px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.social-button {
  background-color: var(--accent-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: background-color 250ms var(--cubic);
}

.social-button:hover,
.social-button:focus {
  background-color: #404bbf;
}

.social-icon {
  height: 100%;
  width: 100%;
  padding: 12px;
}

.name {
  font-size: 20px;
  line-height: 1.2;
}

.position {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.5;

  margin-top: 8px;
}

/* -----------------MOBILE CUSTOMERS -------------- */

.customers {
  padding: 96px 0;
}

.customer-list-item {
  flex-basis: calc((100% - 16px) / 2);
  height: 88px;
  fill: #8e8f99;
}

.customer-btn {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border-color 250ms var(--cubic);
}

.customer-icon {
  fill: #8e8f99;
  width: 104px;
  height: 56px;
  transition: fill 250ms var(--cubic);
}

.customer-btn:is(:hover, :focus) {
  border-color: #404bbf;
}

.customer-btn:is(:hover, :focus) .customer-icon {
  fill: #404bbf;
}

.customer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

/* --------------------- MOBILE FOOTER ----------------- */

.footer {
  background-color: var(--dark-bcg);
  color: #ffffff;
  padding: 96px 0px;
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
}

.footer-desc {
  color: #e7e9fc;

  font-size: 16px;
  line-height: 1.5;

  max-width: 264px;
  margin-top: 0 auto;
}

.footer-text {
  display: flex;
  flex-direction: column;
  max-width: 268px;
  gap: 16px;
  margin: 0 auto;
}

.footer-social-media {
  text-align: center;
  margin: 0 auto;
}

.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.footer-socials {
  display: flex;
  margin-top: 16px;
  gap: 16px;
}

.footer-social-button {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: background-color 250ms var(--cubic);
}

.footer-social-button:hover,
.footer-social-button:focus {
  background-color: #31d0aa;
}

.footer-social-icon {
  fill: var(--cloud);
  width: 100%;
  height: 100%;
  padding: 8px;
}

.footer-subscribe {
  text-align: center;
}

.footer-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin-top: 16px;
}

.footer-email {
  width: inherit;
  max-width: 396px;
  height: 40px;
  background-color: transparent;
  padding: 8px 0px 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
  transition: border 250ms var(--cubic);
}

.footer-email:focus-visible {
  outline: none;
  border: 1px solid var(--white);
}
.footer-email::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: rgba(255, 255, 255, 0.6);
}
.btn.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 40px;
  background-color: var(--accent-color);
  border-radius: 4px;
  padding: 8px 24px;
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 auto;
  transition: background-color 250ms var(--cubic);
}

.btn.subscribe:is(:hover, :focus) {
  background-color: #404bbf;
}

.icon-plane {
  width: 24px;
  height: 24px;
  margin-left: 16px;
}

/* ------------ MOBILE PORTFOLIO ----------------- */

.ghost-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn-filter {
  color: var(--accent-color);
  background-color: var(--btn-primary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  border: 1px solid #e7e9fc;

  width: fit-content;
  height: 40px;
  padding: 8px 16px;
  transition: color 250ms var(--cubic), box-shadow 250ms var(--cubic),
    background-color 250ms var(--cubic), border 250ms var(--cubic);
}

.btn-filter:hover,
.btn-filter:focus {
  background-color: var(--accent-color);
  color: var(--btn-primary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--accent-color);
}

.filters {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 16px;
  margin-bottom: 48px;
}

.examples {
  padding-top: 48px;
  padding-bottom: 48px;
}

.work-img {
  width: 100%;
}

.work {
  margin-bottom: 48px;
}

.work:last-child {
  margin-bottom: 0;
}

.work {
  background-color: var(--white);
  transition: box-shadow 250ms var(--cubic);
}

.work:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.work-details {
  padding: 32px 16px;

  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.work-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.work-type {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.5;

  margin-top: 8px;
}

.work-link {
  text-decoration: none;
  color: currentColor;
}

.work-thumb {
  position: relative;
  overflow: hidden;
}

.work-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  padding: 40px 32px 0px;
  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
  overflow: auto;
}

.transition-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--cloud);
}

.work:hover .work-overlay {
  transform: translateY(0);
}

@media screen and (min-width: 480px) {
  .container {
    width: 426px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  /* ---------- MOBILE ONLY -------------- */
  .navs {
    display: none;
  }

  .contacts {
    display: none;
  }

  .feature:not(:last-child) {
    margin-bottom: 72px;
  }

  .worker:not(:last-child) {
    margin-bottom: 72px;
  }
}

/*  ------------------------------------ TABLET --------------------------- */

@media screen and (min-width: 768px) {
  /* -------- TABLET HEADER ----------- */

  .container {
    width: 766px;
  }

  .page-header {
    width: 100%;
    padding: 0;
  }

  .open-menu {
    display: none;
  }

  .item {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 120px;
  }

  .nav {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;

    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms var(--cubic);
  }

  .navs.list :not(:last-child) {
    margin-right: 40px;
  }

  .navs.list {
    display: flex;
  }

  .contact {
    color: var(--secondary-text-color);
    font-size: 12px;
    line-height: 1.33;
    text-decoration: none;
    transition: color 250ms var(--cubic);
  }

  .contacts.list {
    margin-left: auto;
    text-align: left;
    align-self: center;
  }

  .nav.active {
    color: var(--accent-color);
    position: relative;
  }

  .active::after {
    position: absolute;
    bottom: -1px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: #404bbf;
    border-radius: 2px;
  }

  /* -------- TABLET HERO ------------ */

  .hero-section {
    height: 436px;
    max-width: 768px;
    padding-bottom: 108px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tablet.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tablet@2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 494px;
    margin-bottom: 40px;
  }

  .modal {
    max-width: 408px;
    height: calc(100% - 18px);
    max-height: 586px;
  }

  /* ---------- TABLET FEATURES ---------- */
  .features {
    padding: 96px 0px;
  }

  .feature-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .feature-title {
    text-align: left;
  }

  .feature-descr {
    width: 352px;
    min-height: 72px;
    display: block;
    margin: 0 auto;
  }

  /* --------- TABLET TEAM ----------- */

  .worker {
    margin: 0;
  }

  .worker-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 64px;
    column-gap: 24px;
  }

  /* ----------------- TABLET CUSTOMERS ---------------- */

  .customer-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  .customer-list {
    max-width: 552px;
    margin: 0 auto;
    gap: 24px;
  }

  /* ---------------- TABLET FOOTER ----------------- */

  .footer-wrap {
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
    justify-content: unset;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 552px;
  }

  .footer-desc {
    margin-top: 16px;
  }

  .footer-text {
    display: block;
    margin: 0;
  }
  .footer-social-media {
    text-align: left;
    margin: 0;
  }

  .footer-subscribe {
    text-align: left;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-email {
    min-width: 264px;
  }

  .btn.subscribe {
    margin: 0;
  }

  /* ------------- TABLET PORTFOLIO ----------------- */
  .btn-filter {
    height: 48px;
    padding: 12px 24px;
  }

  .filters {
    justify-content: center;
    margin-bottom: 64px;
  }

  .examples {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .works-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .work {
    flex-basis: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }
}

/* ------------------------------ DESK ------------------------ */

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }

  .container.header {
    display: flex;
  }

  .logo {
    margin-right: 76px;
  }

  .contact {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.5;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .contacts.list {
    display: flex;
    margin-left: auto;
  }

  .contacts.list :not(:first-child) {
    margin-left: 40px;
  }

  .hero-section {
    height: 600px;
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-desk.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-desk@2.jpg);
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }

  /* -------- DESK FEATURES -------- */

  .thumb {
    display: block;
    background-color: var(--cloud);
    width: 264px;
    height: 112px;
    padding: 24px 100px;
    margin-bottom: 8px;
  }

  .icon {
    width: 64px;
    height: 64px;
  }

  .features {
    padding: 120px 0;
  }

  .feature-list {
    display: flex;
    gap: 24px;
  }

  .feature {
    width: calc((100% - 72px) / 4);
  }

  .feature-descr {
    font-weight: 400;
    max-width: 264px;
  }

  .feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  /* --------- DESK ACTIVITY ----------- */
  .activity-list {
    display: flex;
    column-gap: 24px;
  }

  .activity {
    display: block;
    padding-bottom: 120px;
  }

  /* -------- DESK TEAM ----------------- */

  .workers {
    padding: 120px 0;
  }

  /*  ---------------- DESK CUSSTOMERS ----------- */

  .customers {
    padding: 120px 0;
  }

  .customer-list-item {
    flex-basis: calc((100% - 5 * 24px) / 6);
  }

  .customer-list {
    flex-wrap: nowrap;
    max-width: none;
  }

  /* ----------------- DESK FOOTER ----------------- */

  .footer {
    padding: 100px 0px;
  }

  .footer-wrap {
    row-gap: 0;
    column-gap: 0;
    justify-content: left;
    flex-wrap: nowrap;
    max-width: none;
  }

  .footer-social-media {
    margin-left: 120px;
    margin-right: 80px;
  }

  /* ------------- DESK PORTFOLIIO --------------- */

  .filters {
    margin-bottom: 72px;
  }

  .examples {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .works-list {
    row-gap: 72px;
    column-gap: 24px;
  }

  .work {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
}
